global
    daemon
    maxconn 4096
    pidfile /var/run/haproxy.pid

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    option redispatch
    option httplog
    option dontlognull
    balance roundrobin

listen stats :1936
    mode http
    stats enable
    stats hide-version
    stats uri /

frontend lb
    mode http
    bind *:80
    {% for service in services %}
    acl {{ service }}-acl hdr(host) {{ service }}
    use_backend {{ service }}-backend if {{ service }}-acl
    {% endfor %}

{% for service in services %}
backend {{ service }}-backend
    mode http
    {% for backend in services[service].backends %}
    server {{ backend.name }} {{ backend.addr }} check
    {% endfor %}
{% endfor %}
